html {
    color: #222;
    background-color: #2e2f33;
    font-size: 1em;
    line-height: 1.4;
    overflow: hidden;
}

html {
  overflow: 0;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 3;
}

.rollover {
  position:relative;
  display:inline-block;

  color:#fff;
  text-decoration:none;
  background-image: #000;

  /* width: 24.789vw; */
     width: 24.75vw;
  height: 100vh;

	border: 0 solid rgba(0, 0, 0, 0);

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}

.rollover:hover {
  border: 20px solid rgba(255, 255, 255, 0.5);
  line-height: 2;
}

.rollover p{
  position:absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  width: 50%;
  margin: -25% 0 0 -25%;
  padding:0;
  text-align:center;
}

.one{
  background-color:#98d483;
}
.two{
background-color:#98d483;
}
.three{
background-color:#98d483;
}
.four{
background-color:#98d483;
}
